.blogform{
    display: grid;
    place-items: center;
    margin-right: 30rem;
}

form{
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
}


.container-buttons{
    display: flex;
    gap: 1rem;
}

.form-button{
    border-radius: 3px;
    border: none;
    background-color: var(--color-text);
    color: var(--color-bg-white);
}

.cancel-button{
    border-radius: 3px;
    border: 1px solid var(--color-text);
    background-color: #fff;
    color: var(--color-text);
}

