.user{
    background-color: var(--color-bg-white);
    padding: 1.25em;
}

ul{
    list-style: decimal;
    padding-left: 40px;
    background-color: var(--color-bg-white);
    padding-block: 1em;
}

.user-blog{
    background: none;
    border: none;
    
    padding: 0;
}